<!DOCTYPE html>
<html>

    <head>
      
      
      
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

           

    
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
              <div class="container">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto" style="color:black">
		    <a class="nav-item nav-link" style="color:blue" href="{% url 'Home' %}">Home</a>
                    <a class="nav-item nav-link" style="color:blue" href="{% url 'home' %} ">Upload</a>
                    <a class="nav-item nav-link" style="color:blue" href="{% url 'new' %} ">Index</a>
                    <a class="nav-item nav-link" style="color:blue" href="{% url 'base' %} ">Cijfers</a>
                  </div>
                  </div>
            </nav>
                  <!-- Navbar Right Side -->
         <br><br><br> 
    </head>
    <body>
      <style type="text/css">
body {
  background-color: #f5f0ec;
}
</style>
<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 2px solid #333;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    border-right:2px #f0f;
}

li:last-child {
    border-right: 2px #f0f;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: Lightgray;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>
<center>
<ul>
    <li><a href="https://docs.zoho.com/file/1gvk56b6fd5f853e94ae4ab3c1597e09a2c1c" target="me1">Help</a></li>
  <li><a href="https://drive.google.com/open?id=13gITqKSBgS0xfCBAylDIpecV7E_qZec3FeyC5h_JNEE" target="me1">Invoer Histo/Spreiding</a></li>

<li><a href="https://docs.google.com/spreadsheets/d/1qwm9PGgMSmdkKozPrvTfXmbpmhDKC-gKSsTw5_pQWQw/edit?usp=sharing
" target="me1">Invoer Multi-regressie</a></li>



    <li><a href="https://drive.google.com/open?id=1kQ9VYz9_8H2Tbcvl_EMFv2wLmDRfGgk-bPZ0dK0X-j8" target="me1">Invoer tabel met 2 ingangen</a></li>
     <li><a href="https://drive.google.com/open?id=1WRZBOJ1qGwrtewn5nNB7_BWf1v_vb4R4hCP64QDHauU" target="me1">Invoer tabel met 3 ingangen</a></li>
  <li><a href="https://drive.google.com/open?id=1uGBDOY5cCFjSTOn8oRhMGL1sbA4Bpzvj0yzl2Oa1xdo" target="me1">Invoer Additief</a></li>

<li><a href="https://drive.google.com/open?id=1Rz5mZlTyqnbx_jEIqsW47334nMiT0JzNVJfyxnPksK4" target="me1">Invoer Multi</a></li>
<li><a href="https://pauly.shinyapps.io/Reken-App/" target="me1">APP VEFRA</a></li>
  </ul></center>

</body>









<br>
<FONT FACE="bold ARIAL" SIZE=3 >
<CENTER>
<iframe height="1455px" width="100%" src="https://pauly.shinyapps.io/Reken-App/" scrolling = "yes"  name="me1" id="me1">
<p> Uw browser support geen kijk-venster helaas!</p></iframe>
<center>
<form>
<input type ="button"
value="Previous"
onclick="history.go(-1)">
</form>
<br><center>
<button onclick="JavaScript:alert('Vul kb en fd in voor hist met ongelijke kb. Vul O in voor hist met gelijke kb. Vul x en y in voor spredingsdiagram. (Overschrijf het voorbeeld aub).')">
Instructie om uw data in te voeren</button>
</center>
<BR>
<BR><p>EINDE</p>
</html>